#content table.bandiTable ul {
  list-style-type: none;
  margin-left: 1px;
}

.bandiTable .bandoStateClass {
  background-position: 0 3px;
  float: none;
  margin-top: 0;
  padding-top: 0;
  text-align: left;
  text-indent: 52px;
  width: auto;
}

dl.portlet div.bandoContent {
  display: inline-block;
  width: 80%;
}

#content dl.portlet div.bandoContent ul {
  list-style-type: none;
  margin-left: 1px;
}

span.bandoFieldName {
  font-weight: bold;
}

dl.portlet ul li span.bandoFieldName {
  font-weight: bold;
}

dl.portlet ul li div.bandoFieldName {
  float: left;
  font-weight: bold;
}

dl.portlet ul li div.bando-ente-value span {
  font-weight: normal;
  padding-left: 0.4em;
}

.bandoTabbingWrapper {
  border: 1px solid #ddd;
  border-top: none;
}

.bandoTabbingWrapper .navTree {
  padding-top: 1em;
  margin: 0;
}

.bandoTabbingWrapper .formTab > a > span {
  font-size: 1.25em;
  font-weight: bold;
  color: #666;
}

.riferimenti.right {
  float: right;
  width: 38%;
}
